@model IEnumerable<IdentityRole>
@{
    ViewData["Title"] = "ROLES";
}

<h1 class="bg-info text-white">All Roles</h1>
<div>
    <p>
        <a asp-action="Create" class="btn btn-secondary">Create a Role</a>
    </p>
    <p>
        <button class="btn btn-secondary" onclick="printPage()">Print</button>
    </p>
</div>

<table class="table table-sm  ">
    <tr><th>ID</th><th>Name</th><th>Users</th><th id="SkippTh">Update</th><th id="SkippTh">Delete</th></tr>
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Id</td>
            <td>@role.Name</td>
            <td i-role="@role.Id"></td>
            <td id="SkippTh"><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Update</a></td>
            <td id="SkippTh">
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>

<br />
<br />